.header{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
body{
    margin:0px;
    background-color:#87CEEB;
}
.menu{
    font-weight: bold;
}
.grid{

    display: flex;
    justify-content: space-between; 
    flex-wrap:wrap;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
}
.origami{
    border-radius: 50px;
    padding:30px;
    margin:25px;
    background-color:white;
    width:310px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
a:visited{
    color:white;
}
a:link{
    color:white;
}
.origami:hover{
    transform:scale(1.2);
}
a{
    text-decoration:none;
}
